# Azure subscription metadata
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=

# Azure Event Hubs
EVENT_HUB_NAMESPACE=eh-lakehouse-bello.servicebus.windows.net
EVENT_HUB_NAME=healthcare-events
EVENT_HUB_CONNECTION_STRING=

# Azure Data Lake Storage
AZURE_STORAGE_ACCOUNT=stlakehousebello
AZURE_STORAGE_FILE_SYSTEM=healthcare
AZURE_STORAGE_CONNECTION_STRING=
